<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button class="btn btn-primary" ng-click="$ctrl.redirectToIndividual()"> Individual sign up</button>
<button class="btn btn-primary" ng-click="$ctrl.redirectToCompany()"> Company sign up</button>

</body>
</html>