<div class="container-fluid">
    <div class="row">
        <div class="col-12 pl-5 pt-3 letter_spacing">
            <h2 class="font__lightWeight">Welcome to yap business</h2>
        </div>
        <div class="col-5 pl-5 pt-2">
            <div class="jumbotron" style="position: relative">
                <h4 class=" pb-3"> Sign in to your business account</h4>
                <label>Enter your email address here</label>
                <input placeholder="john@hotmail.com" type="text" class="form-control mb-2">

                <label>Enter your email address here</label>
                <input placeholder="******" type="text" class="form-control mb-2">
                <a class="float_right" href="">forgot password?</a>
                <div class="checkbox">
                    <label><input type="checkbox" name="remember"> Remember me</label>
                </div>

                <button type="button" class="btn flat__button mt-1">Sign in</button>
                <p class="Business__signIn__bottomText">
                    <a href="" ng-click="$ctrl.redirectTo__SignUp()">Create YAP account</a>
                </p>
            </div>
        </div>
    </div>
</div>


