<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to YAP</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/custom.css">

    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"
          onload="if(media!=='all')media='all'">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
    <!-- or -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>
<body ng-controller="HomeController as me" ng-cloak>

<!--********************************************************************************-->
<!--This header contains different modules which load depending on an if condition -->
<!--********************************************************************************-->

<header class="header__settings" ng-cloak>
    <div ng-if="me.enabler==1" class="container-fluid pt-2">
        <div class="row">
            <div class="col-2">
                <h1 class="header__headings py-3 pl-5">
                    <button ng-click="me.directTo__Signup()" class="button__transparent">
                        YAP
                    </button>
                </h1>
            </div>
            <div class="col-3">
                <button type="button"
                        class="mt-4 pr-4 button__inline-block btn header__button--transparent header__button--bordered">
                    <b>Personal</b>
                </button>
                <button type="button"
                        class="mt-4 button__inline-block btn header__button--transparent header__button--bordered">
                    <b>Business</b>
                </button>
            </div>
            <div class="col-7">
                <ul class="nav justify-content-center py-4 pl-5" style="float: right">
                    <li class="nav-item pr-3">
                        <button type="button" class="btn header__button--transparent header__button--bordered">
                            <b>About YAP</b>
                        </button>
                    </li>
                    <li class="nav-item pr-3 ">
                        <button type="button" class="btn header__button--transparent header__button--bordered">
                            <b> News and Events</b>
                        </button>
                    </li>
                    <li class="nav-item pr-3">
                        <button type="button" class="btn header__button--transparent header__button--bordered">
                            <b> Partners</b>
                        </button>
                    </li>
                    <li class="nav-item pr-3">
                        <button type="button" ng-click="me.directTo__SignIn()"
                                class="btn header__button--transparent header__button--bordered">
                            <b> Sign in</b>
                        </button>
                    </li>
                    <li class="nav-item pr-3">
                        <button ng-click="me.directTo__Signup()" type="button" class="btn header__button--transparent header__button--bordered">
                            <b> Get YAP</b>
                        </button>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div ng-if="me.enabler==2">
        <p class="pr-2 header__Account--text" style="">
            <a href="">I'm interested in a personal account</a>
        </p>
        <h1 class="header__headings py-4 pl-5">
            <button ng-click="me.directTo__Signup()" class="button__transparent">
                YAP
            </button>
        </h1>
        <h1 class="header__secondaryHeading pl-5">sign up for yap business</h1>
    </div>
</header>
<div ng-view>
</div>
<footer class="footer__settings">
    <h5 class="pl-5 pt-5 footer__text">YAP</h5>
    <small class="pl-5 pt-5">Digitify. All rights reserved</small>
</footer>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>

<!--*************-->
<!--Controllers-->
<!--************-->

<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="user-selection/user-selection.js"></script>
<script src="view2/business-signin-controller.js"></script>
<script src="HomeController.js"></script>

<!--*************-->
<!--Controllers End here-->
<!--************-->
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
