<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div ng-show="$ctrl.step == 1">
                <h3 class="display-4">Welcome to person sign-up</h3>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input ng-model="$ctrl.individual.myEmail" type="email" class="form-control"
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">First name</label>
                        <input ng-model="$ctrl.individual.firstName" type="text" class="form-control"
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="First name ">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last name</label>
                        <input ng-model="$ctrl.individual.lastName" type="text" class="form-control"
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input ng-model="$ctrl.individual.myPassword" type="password" class="form-control"
                               id="exampleInputPassword1"
                               placeholder="Password">
                    </div>
                    <button ng-click="$ctrl.step1()" type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>
            </div>

        </div>
        <div class="col-2">
        </div>
    </div>
</div>

<!--**************************-->
<!--Step 2 -->
<!--**************************-->

<div ng-show="$ctrl.step == 2">
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <h4>Enter your phone number</h4>
                <input ng-model="$ctrl.individual.countryCode" type="text">
                <input ng-model="$ctrl.individual.mobileNumber" type="text">
                <button ng-click="$ctrl.step2()" class="btn btn-primary"> Submit</button>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</div>

<!--**************************-->
<!--Step 3 -->
<!--**************************-->

<div ng-show="$ctrl.step == 3">
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <h4>Enter your OTP number</h4>
                <input maxlength="1" ng-model="$ctrl.individual.otp1" type="text">
                <input maxlength="1" ng-model="$ctrl.individual.otp2" type="text">
                <input maxlength="1" ng-model="$ctrl.individual.otp3" type="text">
                <input maxlength="1" ng-model="$ctrl.individual.otp4" type="text">
                <button ng-click="$ctrl.step3()" class="btn btn-primary"> Submit</button>
                <button ng-click="$ctrl.ResendOtp()" class="btn btn-primary"> Resend OTP</button>

            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</div>